@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-row-center {
  @apply flex items-center justify-center;
}

.flex-row-between {
  @apply flex items-center justify-between;
}

.flex-row-start {
  @apply flex items-center justify-start;
}

.flex-col-center {
  @apply flex flex-col items-center justify-center;
}

.flex-col-start {
  @apply flex flex-col items-start;
}
.title-font {
  @apply font-bold text-3xl text-brand-default mt-[65px];
}

.small_line_button {
  padding: 3px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #666;
  font-size: 0.8rem;
}

.small_color_button {
  padding: 3px 10px;
  border: 0px solid #ddd;
  border-radius: 5px;
  background-color: #eee;
}

:root {
  --primary-color: #242424;
  --secondary-color: #0000ff;
  --font-size-base: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px; /* 기본 폰트 크기 설정 */
  font-weight: 400; /* 기본 폰트 굵기 */
  font-style: normal;
}
a {
  text-decoration: none;
  color: #242424;
}
ul,
li {
  list-style: none;
}
html {
  font-size: 16px;
}
body {
  font-size: var(--font-size-base);
  color: var(--primary-color);
}
/* 웹서비스 개발시 권장함.(개인적으로) */
html,
body,
:root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
